<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" class="login-form">
      <mat-form-field class="example-full-width">
        <mat-label>Enter your email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Email"
               [errorStateMatcher]="matcher">
        @if (loginForm.controls.email.hasError('email') && !loginForm.controls.email.hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
        }
        @if (loginForm.controls.email.hasError('required')) {
          <mat-error>Email is required</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput formControlName="password" placeholder="Password"
               [type]="hidePassword ? 'password' : 'text'" [errorStateMatcher]="matcher">
        <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        @if (loginForm.controls.password.hasError('minlength') && !loginForm.controls.password.hasError('required')) {
          <mat-error>Please enter a minimum of 5 characters</mat-error>
        }
        @if (loginForm.controls.password.hasError('required')) {
          <mat-error>Password is required</mat-error>
        }
      </mat-form-field>
      <mat-divider></mat-divider>
      <button type="submit" mat-flat-button color="primary" [disabled]="!loginForm.valid">Login</button>
    </form>
  </mat-card-content>
</mat-card>
